In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("train.csv",nrows=15000)
df

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.00,195.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,30158,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,161507.610000,0
14996,30159,2,26,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128096.070000,0
14997,30161,2,34,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,159902.370000,0
14998,30162,2,25,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47012.460000,0
14999,30168,2,36,0.0,740.34,755.34,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82924.440000,0

In [5]:
target_data = df["TARGET"]

In [6]:
feature_cols = list(df.columns)
feature_cols.remove("TARGET")

In [19]:
feature_data=df[feature_cols]
feature_data

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.00,195.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,30158,2,23,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,161507.610000
14996,30159,2,26,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128096.070000
14997,30161,2,34,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,159902.370000
14998,30162,2,25,0.0,0.00,0.00,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47012.460000
14999,30168,2,36,0.0,740.34,755.34,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82924.440000

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
mm=MinMaxScaler()

In [12]:
feature_data_tf=mm.fit_transform(feature_data)

In [56]:
feature_data_tf

array([[0.00000000e+00, 9.99767055e-01, 1.85567010e-01, ...,
        0.00000000e+00, 0.00000000e+00, 3.03768605e-03],
       [6.62976100e-05, 9.99767055e-01, 2.98969072e-01, ...,
        0.00000000e+00, 0.00000000e+00, 4.06727594e-03],
       [9.94464150e-05, 9.99767055e-01, 1.85567010e-01, ...,
        0.00000000e+00, 0.00000000e+00, 5.91282997e-03],
       ...,
       [9.99767958e-01, 9.99767055e-01, 2.98969072e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.53746605e-02],
       [9.99801107e-01, 9.99767055e-01, 2.06185567e-01, ...,
        0.00000000e+00, 0.00000000e+00, 3.83570239e-03],
       [1.00000000e+00, 9.99767055e-01, 3.19587629e-01, ...,
        0.00000000e+00, 0.00000000e+00, 7.50641870e-03]])

In [20]:
from sklearn.feature_selection import VarianceThreshold

In [21]:
vt = VarianceThreshold(threshold=0.2)

In [42]:
x=vt.fit_transform(feature_data_tf)
x[:,:2]

array([[0.        , 1.        ],
       [0.        , 0.03030303],
       [1.        , 1.        ],
       ...,
       [1.        , 0.01010101],
       [1.        , 0.03030303],
       [1.        , 0.02020202]])

In [43]:
vt.variances_

array([8.31190113e-02, 1.53027144e-03, 1.75682835e-02, 8.68954055e-05,
       7.45698204e-04, 1.42820999e-03, 2.63766137e-04, 3.41185011e-04,
       8.07573435e-05, 9.57085905e-05, 2.96536231e-04, 6.23532844e-04,
       1.18463997e-03, 6.93173316e-04, 1.58128522e-03, 1.75456183e-03,
       7.56356221e-04, 1.65511605e-03, 1.94384488e-03, 9.38230950e-05,
       1.14003156e-02, 4.51278222e-03, 0.00000000e+00, 0.00000000e+00,
       4.00527600e-02, 2.24442649e-01, 2.66595556e-04, 1.33315556e-04,
       3.20977600e-02, 2.78448889e-02, 6.19332222e-02, 4.37629156e-02,
       4.75000000e-02, 3.89516400e-02, 3.78476400e-02, 1.00959600e-02,
       9.96532889e-03, 0.00000000e+00, 0.00000000e+00, 4.64185600e-02,
       2.18982400e-02, 5.37084000e-03, 1.66388889e-03, 1.39804000e-03,
       0.00000000e+00, 0.00000000e+00, 4.38064000e-03, 3.18976000e-03,
       2.32788889e-03, 4.06632489e-02, 3.71715556e-02, 2.60817600e-02,
       2.39948400e-02, 2.68382400e-02, 2.39948400e-02, 2.34240000e-02,
       2.34240000e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.66595556e-04, 1.33315556e-04, 4.57884000e-03,
       1.97375640e-01, 4.11624889e-03, 3.78556000e-03, 9.32462222e-04,
       7.32795556e-04, 7.32795556e-04, 6.66222222e-04, 5.33048889e-04,
       0.00000000e+00, 0.00000000e+00, 6.63591822e-02, 6.01945556e-02,
       6.01945556e-02, 1.08071996e-01, 1.14003156e-02, 4.51278222e-03,
       1.09274982e-01, 0.00000000e+00, 4.51278222e-03, 2.12878222e-03,
       2.12878222e-03, 0.00000000e+00, 0.00000000e+00, 1.14003156e-02,
       4.51278222e-03, 1.69825668e-02, 5.15069185e-03, 2.52637388e-02,
       2.66595556e-04, 1.33315556e-04, 3.20977600e-02, 2.78448889e-02,
       1.68682489e-02, 1.14253289e-02, 6.41807358e-03, 1.01270122e-02,
       9.51059556e-03, 1.82067951e-03, 1.49717333e-03, 0.00000000e+00,
       0.00000000e+00, 5.78883951e-03, 5.52381222e-03, 1.39252889e-03,
       2.36775802e-04, 2.01664074e-04, 0.00000000e+00, 0.00000000e+00,
       3.18976000e-03, 2.32788889e-03, 1.02629767e-02, 9.34159889e-03,
       2.63641222e-03, 2.63641222e-03, 2.46971083e-03, 2.46971083e-03,
       1.04124406e-04, 6.66622222e-05, 1.34018190e-04, 1.15169450e-04,
       1.98030086e-03, 2.79774425e-04, 2.23900468e-03, 2.17414473e-03,
       2.04248476e-03, 2.79859771e-04, 2.18084292e-03, 2.31749537e-03,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.66595556e-04, 1.33315556e-04, 6.74746240e-03, 1.83494531e-02,
       4.22959877e-04, 3.32503210e-04, 1.45753056e-04, 1.45753056e-04,
       1.41595556e-04, 2.83198889e-04, 0.00000000e+00, 0.00000000e+00,
       1.40522289e-02, 3.75154919e-04, 4.54845675e-04, 4.54845675e-04,
       8.84313083e-03, 1.14003156e-02, 4.51278222e-03, 8.35377667e-03,
       0.00000000e+00, 4.51278222e-03, 4.86075306e-03, 1.56185108e-02,
       5.82123333e-04, 2.12878222e-03, 0.00000000e+00, 0.00000000e+00,
       3.61617686e-04, 3.84530241e-04, 9.17214618e-05, 1.86046870e-04,
       2.80699757e-04, 5.45361279e-03, 5.02099212e-04, 0.00000000e+00,
       2.32846657e-03, 2.72682300e-04, 9.40221232e-05, 0.00000000e+00,
       7.92091114e-05, 2.80343008e-04, 2.14253333e-04, 2.07464427e-04,
       0.00000000e+00, 0.00000000e+00, 9.17214618e-05, 3.53492986e-04,
       1.04973097e-04, 1.73292007e-04, 7.62350498e-05, 0.00000000e+00,
       6.16230227e-04, 3.61617686e-04, 0.00000000e+00, 2.92233567e-04,
       2.19415980e-04, 0.00000000e+00, 2.29443554e-01, 0.00000000e+00,
       0.00000000e+00, 4.51278222e-03, 6.66222222e-04, 2.58897354e-04,
       1.19856000e-03, 4.66448889e-04, 6.66622222e-05, 0.00000000e+00,
       6.66622222e-05, 0.00000000e+00, 1.33315556e-04, 6.66622222e-05,
       6.66222222e-04, 4.51278222e-03, 6.66222222e-04, 2.16612222e-04,
       1.19856000e-03, 4.66448889e-04, 6.66622222e-05, 0.00000000e+00,
       6.66622222e-05, 0.00000000e+00, 1.33315556e-04, 6.66622222e-05,
       6.66222222e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.11415823e-03, 4.75494895e-04, 8.30916477e-05,
       8.49343832e-05, 1.19692789e-04, 6.66622222e-05, 0.00000000e+00,
       9.83766094e-05, 1.18022163e-04, 1.93251657e-04, 0.00000000e+00,
       1.93310773e-04, 0.00000000e+00, 6.66622222e-05, 0.00000000e+00,
       0.00000000e+00, 3.55885282e-04, 6.23505770e-04, 6.66622222e-05,
       6.66622222e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       8.14726224e-05, 0.00000000e+00, 6.66622222e-05, 6.66622222e-05,
       1.06858188e-04, 0.00000000e+00, 2.12878222e-03, 7.40477156e-02,
       8.33727600e-02, 8.67301289e-02, 7.74982222e-02, 6.25687289e-02,
       1.13247960e-01, 1.51749651e-03, 0.00000000e+00, 0.00000000e+00,
       5.18359375e-04, 1.32724889e-03, 1.16638889e-04, 1.09214691e-04,
       7.91530556e-05, 6.66622222e-05, 0.00000000e+00, 2.82843333e-04,
       1.70286914e-04, 1.22205496e-04, 3.16661322e-04, 1.17531807e-03,
       9.42704523e-04, 4.05827693e-03, 1.72473958e-03, 1.32963665e-03,
       1.65116418e-03, 1.87584865e-01, 1.19763970e-02, 2.72216810e-02,
       2.51904217e-02, 5.62655556e-03, 0.00000000e+00, 5.10435062e-04,
       1.49972222e-04, 3.03560988e-04, 5.84100958e-02, 1.07945877e-03,
       1.90581971e-03, 1.50410950e-03, 1.85306818e-04, 1.66373863e-04,
       1.27036389e-04, 1.60336389e-04, 1.89784943e-03, 1.84414059e-03,
       2.29823669e-03, 2.00090452e-03, 1.46197823e-03, 2.03326209e-03,
       0.00000000e+00, 4.66448889e-04, 0.00000000e+00, 6.66622222e-05,
       0.00000000e+00, 0.00000000e+00, 1.58198889e-04, 8.19706852e-04,
       4.68067113e-04, 3.76863250e-04, 6.66622222e-05, 6.66622222e-05,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 8.33233333e-05,
       0.00000000e+00, 6.66622222e-05, 6.66622222e-05, 1.22249993e-04,
       1.82637691e-03, 1.57795528e-03, 2.10345118e-03, 1.70173524e-03,
       0.00000000e+00, 2.80999628e-04, 1.28880199e-04, 6.56531183e-04,
       2.69984913e-04, 8.77666689e-05, 1.60598263e-04, 1.32587606e-04,
       1.59508961e-04, 1.99813710e-04, 3.35398887e-04, 2.67083568e-04,
       2.90238721e-04, 3.63931120e-03, 5.95734749e-04, 5.21725506e-03,
       3.45196184e-03, 4.61503856e-04, 3.84995307e-04, 5.44228556e-04,
       5.77002574e-04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.33698813e-04, 6.66737042e-05, 1.03658104e-04,
       9.08318929e-05, 6.88106432e-05, 0.00000000e+00, 7.22355127e-05,
       9.58129886e-05, 1.26968293e-04, 9.76021056e-05, 7.61394472e-05,
       7.79432118e-05, 1.88737002e-04, 8.69312731e-05, 2.12206971e-04,
       1.68625437e-04, 3.18882920e-04])

In [44]:
x.shape

(15000, 2)

In [45]:
dff=pd.DataFrame(x)

In [46]:
dff

         0         1
0      0.0  1.000000
1      0.0  0.030303
2      1.0  1.000000
3      1.0  0.020202
4      0.0  0.010101
...    ...       ...
14995  0.0  1.000000
14996  1.0  0.030303
14997  1.0  0.010101
14998  1.0  0.030303
14999  1.0  0.020202

[15000 rows x 2 columns]

In [48]:
cor = df.corr(method='pearson')